<html>
<body>
<h1>**** #PLUS ****</h1>
<h2>Total of games: <%= @games.count %></h2>

<h3>Report of kills by game:</h3>

<% @games.each do |game| %>

    <h4><%= game.name %>:</h4>

    <ul>
      <li><b>Total kills</b>: <%= game.total_kills %>, <b>Start Time</b>: <%= game.start_time %>, <b>End Time</b>: <%= game.end_time %></li>
    </ul>


    <table border="1">
      <tr>
        <th>Death Reason</th>
        <th>Number of kills</th>

      </tr>

      <% game.kills_by_reason.each do |kill| %>
          <tr>

            <td> <%= kill[0] %> </td>
            <td> <%= kill[1] %> </td>

          </tr>
      <% end %>

    </table>

<% end %>

</body>
</html>